<div class="container">
    <h1>Iniciar sesión</h1>
    
    <form (submit)="loginUser($event)">
      <p>
        <label>
          Username:
          <input type="text" name="username" placeholder="Username" [(ngModel)]="username">
        </label>
      </p>
      <p>
        <label>
          Contraseña:
          <input type="password" name="password" placeholder="password" [(ngModel)]="password">
        </label>
      </p>
      <p>
      <button type="submit" >login</button>
    </p>
      </form>
</div>
  
