:host {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    background: rgb(231, 111, 111);
  }
button {
    font-family: Arial;
    background-color: #e4e4e4;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    width:200px; 
    height:25px
  }
  button:hover {
    background-color: rgb(128, 156, 126);
  }
  a{
    text-align: center;
    vertical-align: middle !important;

  }
  body{
    background: rgb(231, 111, 111);
    background-position: 50%;
  }
  h1{
      font-style: italic;

  }