:host {
    display: flex;
    flex-direction: column;
    padding-top: 24px;
  }

 label {
    display: block;
    width: 9em;
    margin-bottom: 30px;
    color: #607D8B;
    font-weight: bold;
  } 

input {
    height: 2em;
    font-size: 1em;
    padding-left: .4em;
  }

button {
    font-family: Arial;
    background-color: #8ed2f0;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
  } 

button:hover {
    background-color: rgb(76, 173, 230);
  }

form{
    margin: 0 auto;
    text-align: center;
    border-radius: 10px;
    border: 1px solid #666666;
    width: 500px;
}
label{
    width: 500px;
}
h1{
    text-align:center;
}
.success{
  color: rgb(2, 206, 2);
  text-align:center;
}
.danger{
  color: rgb(221, 20, 6);
}