<div class="container">
    <h1>Registrarse</h1>
    
    <form (submit)="registerUser($event)">
      <p>
        <label>
          Nuevo username:
          <input type="text" name="username" placeholder="Username" [(ngModel)]="username">
        </label>
      </p>
      <p>
        <label>
          Nueva contraseña:
          <input type="password" name="password" placeholder="password" [(ngModel)]="password">
        </label>
      </p>
      <p>
        <label>
          Indique su edad:
          <input type="text" name="edad" placeholder="edad" [(ngModel)]="edad">
        </label>
      </p>
      <p>
        <label>
          Indique su género:
          <input type="text" name="sexo" placeholder="m/f" [(ngModel)]="sexo">
        </label>
      </p>
      <p>
        <label>
          Indique donde reside:
          <input type="text" name="ubicacion" placeholder="ubicación" [(ngModel)]="ubicacion">
        </label>
      </p>
      <p>
      <button type="submit" >Register</button>
    </p>
      </form>
</div>
