<div class="container">
    <h1>Registrarse</h1>
    
    <form [formGroup]="registerForm" (ngSubmit)="registerUser($event)">
      <p>
        <label>
          Nuevo username:
          <input formControlName="username" type="text" name="username" placeholder="Username" >
          <div class="validation-errors">
            <ng-container *ngFor="let validation of validation_messages.username" >
              <div *ngIf="registerForm.get('username').hasError(validation.type) && (registerForm.get('username').dirty || registerForm.get('username').touched)">
                <div class="danger">
                   {{validation.message }}
                </div>
              </div>
            </ng-container>
            <div *ngIf="registerForm.controls['username'].valid">
              <div class="success">Nombre de usurario válido</div>
            </div>
          </div>
        </label>
      </p>
      <p>
        <label>
          Indique su mail:
          <input formControlName="mail" type="text" name="mail" placeholder="Mail" >
          <div class="validation-errors">
            <ng-container *ngFor="let validation of validation_messages.mail" >
              <div *ngIf="registerForm.get('mail').hasError(validation.type) && (registerForm.get('mail').dirty || registerForm.get('mail').touched)">
                <div class="danger">
                   {{validation.message}}
                </div>
              </div>
            </ng-container>
            <div *ngIf="registerForm.controls['mail'].valid">
              <div class="success"></div>
            </div>
          </div>
        </label>
      </p>
      <p>
        <label>
          Nueva contraseña:
          <input  formControlName="pass" type="password" name="pass" placeholder="password" [(ngModel)]="password">
          <div class="validation-errors">
            <ng-container *ngFor="let validation of validation_messages.pass" >
              <div *ngIf="registerForm.get('pass').hasError(validation.type) && (registerForm.get('pass').dirty || registerForm.get('pass').touched)">
                <div class="danger">
                   {{validation.message }}
                </div>
              </div>
            </ng-container>
            <div *ngIf="registerForm.controls['pass'].valid">
              <div class="success">Contraseña aceptable</div>
            </div>
          </div>
        </label>
      </p>
      <p>
        <label>
          Indique su edad:
          <input  formControlName="edad" type="text" name="edad" placeholder="edad" [(ngModel)]="edad">
          <div class="validation-errors">
            <ng-container *ngFor="let validation of validation_messages.edad" >
              <div *ngIf="registerForm.get('edad').hasError(validation.type) && (registerForm.get('edad').dirty || registerForm.get('edad').touched)">
                <div class="danger">
                   {{validation.message }}
                </div>
              </div>
            </ng-container>
            <div *ngIf="registerForm.controls['edad'].valid">
              <div class="success">Formato correcto</div>
            </div>
          </div>
        </label>
      </p>
      <p>
        <label>
          Indique su género:
          <input  formControlName="sexo" type="text" name="sexo" placeholder="m/f" [(ngModel)]="sexo">
          <div class="validation-errors">
            <ng-container *ngFor="let validation of validation_messages.sexo" >
              <div *ngIf="registerForm.get('sexo').hasError(validation.type) && (registerForm.get('sexo').dirty || registerForm.get('sexo').touched)">
                <div class="danger">
                   {{validation.message }}
                </div>
              </div>
            </ng-container>
            <div *ngIf="registerForm.controls['sexo'].valid">
              <div class="success">Formato correcto</div>
            </div>
          </div>
        </label>
      </p>
      <p>
        <label>
          Indique donde reside:
          <input  formControlName="ubicacion" type="text" name="ubicacion" placeholder="ubicación" [(ngModel)]="ubicacion">
          <div class="validation-errors">
            <ng-container *ngFor="let validation of validation_messages.ubicacion" >
              <div *ngIf="registerForm.get('ubicacion').hasError(validation.type) && (registerForm.get('ubicacion').dirty || registerForm.get('ubicacion').touched)">
                <div class="danger">
                   {{validation.message }}
                </div>
              </div>
            </ng-container>
            <div *ngIf="registerForm.controls['ubicacion'].valid">
              <div class="success"></div>
            </div>
          </div>
        </label>
      </p>
      <div>
      <button size="large" shape="round" type="submit" [disabled]="registerForm.invalid" expand="block" >Register</button>
      </div>
      </form>
</div>
